body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Texas_flag_map.svg/250px-Texas_flag_map.svg.png")
}
.container{
    background-color: aliceblue;
    max-width: 960px;
    align-self: auto;
    margin-left:230px;
   

}
#quiz{
    word-spacing: 10px;
    padding-top: 10px;
    margin-left: 250px;
}